.ForgetPasswordMain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    gap: 30px;
}
.ForgetPasswordMain h1{
    color: #5E60CE;
    font-size: 50px;
}
.ForgetPasswordGreyLine{
    width: 100%;
}
.ForgetPasswordWrap{
    width: 40%;
    height: 50%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ForgetPasswordWrap h3{
    text-align: left;
    font-weight: lighter;
}
.ForgetPasswordInputs{
    width: 90%;
    height: 55px;
    border-radius: 8px;
    border: none;
    border: 1px solid lightgrey;
    padding: 10px;
    font-size: 15px;
    outline: none ;
}
.ForgetPasswordText{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ForgetPasswordButton{
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #5E60CE;
    color: white;
    font-size: 15px;
}
.ForgetPasswordBackToLoginButton{
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
   border: 1px solid #5E60CE;
    font-size: 15px;
    background-color: transparent;
}
.ForgetPasswordBackToLogin{
    width: 90%;
    height: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.ForgetPasswordBackToLogin > p{
  cursor: pointer;
}